import java.util.Random;
import java.util.Scanner;

public class Banking{
	private  String name;
	private  String accountNumber="";
	private  double accountBalance;
	private  String visaCardNumber="";
	private  String visaCardExpiry;
	private  String visaCardPin="";
	private  Random rand;
	private  Scanner scan;
	
	public Banking(){
		// this is the constructor, variables can be initialized here.
	}
	
	public  void generateAccountNumber(){
		// this method should generate random accountNumber
		
	}
	
	public  void setName(){
		//this method should set name
		name = scan.nextLine();
		
	}
	public  String getName(){

		//should get Name;
		
		return name;

	}
	public String getAccountNumber(){

		//this method should get accountNumber
		return accountNumber;
	}
	public void depositOpeningAccountBalance(){
		
		// should set accountBalance
		

	}
	public void adjustAccountBalace(double amount){
		// should adjust accountBalance whenever there is a transaction
	}
	public double getAccountBalance(){

		//this method should getAccountBalance
		
		return accountBalance;
	}
	public void setVisaCardNumber(){
		
	}
	public void setVisaCardPin(){
		
	}
	public void setVisaCardExpiry(){
		
		
	}
	
	public String getVisaCardNumber(){
		//should return visaCardNumber
		return visaCardNumber;
	} 
	public String getVisaCardPin(){
		return visaCardPin;
	}
	public String getVisaCardExpiry(){
		//should return visaCardExpiry
		return visaCardExpiry;
	}

	public static void main(String[] args){
		
		
		
	}
}
